@model Assignment3_MVC2.Models.Fruit

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Fruit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fruit_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fruit_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Agri_Products.Product_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Agri_Products.Product_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Fruit_ID }) |
    @Html.ActionLink("Back to List", "Index")<br/>
    <p>Click <a asp-action="Apple">here</a> to see the details of price.</p>
</p>
