@model IEnumerable<Assignment3_MVC2.Models.Vegetable>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Veg_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Agri_Products.Product_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Veg_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Agri_Products.Product_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Veg_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Veg_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Veg_ID })
        </td>
    </tr>
}

</table>
